<?xml version="1.0" encoding="UTF-8"?>
<customgameoptions>
	<config name="CustomZombieBuffsBiomePercentage" value="50" /> <!-- 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100  -->
	<config name="CustomZombieBuffsSleeperPercentage" value="50" />	<!-- 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100  -->
	<config name="CustomZombieBuffsWanderingHordePercentage" value="50" /> <!-- 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100  -->
	<config name="CustomZombieBuffsBloodmoonPercentage" value="50" /> <!-- 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100  -->
	<config name="CustomZombieBuffsBiomeMaxBuffCount" value="5" /> <!-- 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 -->
	<config name="CustomZombieBuffsSleeperMaxBuffCount" value="5" /> <!-- 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 -->
	<config name="CustomZombieBuffsWanderingHordeMaxBuffCount" value="5" />	<!-- 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 -->
	<config name="CustomZombieBuffsBloodmoonMaxBuffCount" value="5" />	<!-- 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 -->
	<config name="CustomZombieBuffsArmourPenetrationMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsArrowResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsBluntResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsBulletResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsDecapResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsExplosiveResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsFireResistMaxLevel" value="5" />	<!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsFistResistMaxLevel" value="5" />	<!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsKnifeResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsMaxHealthMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsShotgunResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsStrongMaxLevel" value="5" />	<!-- 0, 1, 2, 3, 4, 5 -->
	<config name="CustomZombieBuffsShockResistMaxLevel" value="5" /> <!-- 0, 1, 2, 3, 4, 5 -->
</customgameoptions>

<!-- SEE Readme.txt file for descriptions on settings !!!!!-->